* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 48px;
 

}
.nav-menu ul{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;

}
.nav-menu ul a{
    text-decoration: none;
    color: #252432;
}