* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.nav-menu ul {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  list-style: none;
}
.nav-menu ul a {
  text-decoration: none;
  color: #252432;
}
#home {
  color: #252432;
  font-weight: 600;
}
.hero-banner {
  display: flex;
  justify-content: space-between;
  height: 461px;
  margin-top: 120px;
}
.hero-title h1 {
  font-size: 4rem;
  font-weight: 700;
}
.text-primary {
  color: #e95a08;
}
.hero-title p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 400;
}
.hero-image img {
  width: 100%;
}
.our-plants {
}
.plants-description {
  text-align: center;
  margin-bottom: 49px;
}

.our-plants h1 {
  font-size: 3.12rem;
  font-weight: 700;
}
.our-plants p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}
.cards .card .card-body {
  text-align: center;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 322px;
}
.card .card-body h3 {
  color: #111111;
  font-size: 1.3rem;
  font-weight: 500;
  align-items: center;
}
.card .card-body h4 {
  color: #111111;
  font-size: 1.3rem;
  font-weight: 700;
}
.cards .card button {
  width: 270px;
  background: #e95a08;
  color: white;
  font-weight: 600;
  padding: 19px 80px;
  border: none;
}
.plants-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 211px;

  flex-wrap: wrap;
}
.lover-left {
  position: relative;
  flex: 1;
}
.main-image {
  width: 100%;

  object-fit: cover;
}
.badge {
  position: absolute;
  top: -20%;
  right: -16%;
  width: 286px;
  height: 286px;
  z-index: 2;
}
.lover-right {
  width: 540px;
  height: 521px;
  margin-top: 38px;
  margin-bottom: 38px;
  margin-left: 60px;
  gap: 30px;
  flex: 1;
}
.lover-right h1 {
  font-size: 3.12rem;
  font-weight: 700;
  color: #000000;
}
.lover-right ul {
  padding-left: 30px;
  margin-top: 20px;
}
.lover-right ul li {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.deals{
  margin-top: 133px;
}
.deals h1 {
  font-size: 3.12rem;
  font-weight: 700;
  text-align: center;
}
.deals p {
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.latest-deals {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 40px auto;
  padding: 0 20px;
  gap: 24px;
  height: 423px;
  margin-top:120px;
}


.promo-code-bloom, .promo-code-ana{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding: 40px 30px;
  background: rgba(0, 0, 0, 0.40);
  background-blend-mode: darken;
  
}
.promo-code-zabo{
  width: 100%;
  height: 423px;
  grid-row: span 2;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding: 40px ;
  background: rgba(0, 0, 0, 0.40);
  background-blend-mode: darken;
  
}
.promo-code-bloom h3, .promo-code-ana h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}
.promo-code-bloom a, .promo-code-ana a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}
.promo-code-zabo h3 {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}
.promo-code-zabo a{
  font-weight: 500;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;

}


.subscribe{
  background-image: url('../assets/news-letter-bg.png');
  width: 100%;
  height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 119px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.subscribe-button{
  
  display: flex;
}
.subscribe h1{
  font-size: 3.12rem;
  font-weight: 700;
  color: white;
}
.subscribe-button input{
  color: rgba(0, 0, 0, 0.50);
  background: white;
  border: none;
  width: 664px;
  height: 50px;
  padding: 8px 20px;
}
.subscribe-button button{
  width: 146px;
  height: 50px;
  color: white;
  background: #E95A08;
  font-weight: 500;
  border: none;
}


/* Mobile Responsive*/

@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
  }
  .nav-menu .nav {
    visibility: hidden;
  }
  .nav-menu span {
    padding-right: 20px;
  }
  .hero-banner {
    flex-direction: column;
    align-items: center;
  }

  .hero-title h1 {
    font-size: 1.75rem;
    width: 361px;
    height: 66px;
    padding-left: 10px;
  }
  .hero-title p {
    font-size: 0.75rem;
    padding-left: 10px;
    width: 360px;
    height: 68px;
  }
  .hero-image img {
    width: 100%;
    height: 245px;
  }
  .plants-description h1 {
    font-size: 1.5rem;
    margin-top: 65px;
    text-align: center;
  }
  .plants-description p {
    font-size: 0.75rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
  }
  .card img {
    width: 100%;
    height: 196px;
  }
  .card .card-body h3 {
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
  }
  .card .card-body h4 {
    font-size: 1rem;
    font-weight: 500;
  }
  .cards .card button {
    width: 170px;
    font-weight: 500;
    padding: 19px 30px;
  }
  .plants-lover {
    flex-direction: column;
    align-items: center;
  }
  .badge {
    visibility: hidden;
  }
  .lover-left .main-image {
    width: 100%;
    height: 390px;
  }
  .lover-right {
    width: 350px;
    height: 390px;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-left: 20px;
    gap: 30px;
  }
  .lover-right h1 {
    font-size: 1.5rem;
  }
  .lover-right ul {
    padding-left: 0;
  }
  .lover-right ul li {
    font-size: 0.75rem;
  }
  .latest-deals{
    grid-template-columns: 1fr;
   
  }
  .promo-code-zabo{
    grid-row:auto;
    height: 177px;
    
  }
  .subscribe{
    width: 100%;
    height: 276px;
    margin-top: 230px;
  }
  .subscribe h1{
  font-size: 1.25rem;
  font-weight: 500;
  

}
}